@using System.Linq;

@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "_AdminLayout";
}
<body>
            <ul class="box-info">
                <li>
                    <i class='bx bxs-calendar-check'></i>
                    <span class="text">
                        <h3>@Model.RecentOrders.Count</h3>
                        <p>Đơn hàng mới</p>
                    </span>
                </li>
                <li>
                    <i class='bx bxs-group'></i>
                    <span class="text">
                        <h3>@Model.Products.Count</h3>
                        <p>Lượt truy cập</p>
                    </span>
                </li>
                <li>
                    <i class='bx bxs-dollar-circle'></i>
                    <span class="text">
                        <h3>2,543,000 VNĐ</h3>
                        <p>Doanh thu</p>
                    </span>
                </li>
            </ul>
        </main>
    </section>

    <script src="~/js/scriptkhai.js"></script>
</body>
