@model MVC.Models.Product
@{
    ViewData["Title"] = "Chi tiết sản phẩm";
}

<h2>@Model.Name</h2>
<p><strong>Giá:</strong> @Model.Price.ToString("C")</p>
<p>@Model.Description</p>
<p>ProductId: @Model.ProductId</p>
<a href="/Cart/AddToCart/@Model.ProductId" class="btn btn-success">Thêm vào giỏ hàng</a>

